@charset "utf-8";

html{
  font-size: 100%;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #000;
  color: #fff;
}

body,h1,h2,h3,p,ul,dd,button{
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}

.wrapper{
  max-width: 1200px;
  padding: 0 4%;
  margin: auto;
}

.inner{
  max-width: 1000px;
  padding:0 2%;
  margin: auto;
}

.flexitem{
  display: flex;
}

.en,
.section-title-en{
  font-family: 'Lato', sans-serif;
}

.section-title-en{
  font-size: 6rem;
  margin-bottom: 15px;
}

.section-title-en::first-letter{
  color:#76D0E5;
}

.section-title-jp{
  font-size: 1.3rem;
}

.section-title-jp::before{
  content: "－";
  color: #fff;
}

.section-subtitle{
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.site-title{
  width: 200px;
}

/* .site-title img{
  width: 200px;
} */

.photoarea img{
  width: 50%;
  border: 8px solid #fff;
  border-radius: 30px;
  box-sizing: border-box;
}

.photoarea p{
  width: 50%;
  line-height: 3.75;
  margin-left: 4em;
}

.btn{
  position:relative;
  display: inline-block;
  padding: 1.68em 7.68em;
  color: #000;
  background-color: #FFBC00;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: #fff 0px 7px;
  transition: 0.3s;
}

.btn::after{
  content:'';
  display: inline-block;
  width: .375em;
  height: .375em;
  border-bottom: .125em solid #000;
  border-right: .125em solid #000;
  transform: rotate(-45deg) translateY(-30%);
}

.btn:focus,
.btn:hover{
  transform: translate3d(0, 5px, 0);
  box-shadow: none;
}

.loop-wrap{
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.loop-wrap img {
  width: auto;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.loop-wrap img:first-child {
  animation: loop 100s -50s linear infinite;
}

.loop-wrap img:last-child {
  animation: loop2 100s linear infinite;
}

.img-title img{
  width: 100vw;
}

.img-title{
  position: relative;
  margin-bottom: 100px;
}

.title-right{
  text-align:right;
}

/******************* ヘッダー ********************/
#header{
  padding-top: 18px;
}

#header.flexitem{
  justify-content: space-between;
  align-items: center;
}

#header ul a{
  display: inline-block;
  text-align: center;
}

#header ul a:hover{
  color: #76D0E5;
  transition: 0.4s;
}

#header ul li{
  padding-left: 50px;
}

#header ul li span{
  display: inline-block;
}

#header p{
  font-size: 0.7rem;
}

.burger-btn{
  display: none;
}
/******************* ヘッダー ********************/

/******************* メインビジュアル ********************/
#mainvisual{
  position: relative;
  margin-bottom: 80px;
}

.mainvisual-top img{
  border: 8px solid #fff;
  border-radius: 40px;
  box-sizing: border-box;
}

.mainvisual-load-left{
  padding-right: 60%;
  position: absolute;
  top: 10%;
  left: 3%;
}

.mainvisual-load-right{
  padding-left: 70%;
  position: absolute;
  bottom: 5%;
  right: 3%;
}
/******************* メインビジュアル ********************/

/******************* About ********************/
#about{
  padding-top: 100px;
}

#about .img-title{
  background-image: url(../img/about.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}

.about-title-text{
  margin-top: 170px;
  line-height: 3.75;
}

#about .flexitem{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.contentarea{
  text-align: center;
}

#about .contentarea .flexitem{
  margin-bottom: 0px;
}

#about .contentarea .item{
  width: 50%;
}

#about .contentarea .item ul{
  display: inline-block;
}

#about .contentarea .item li{
  text-align: left;
  margin-bottom: 20px;
}

#about .contentarea .item p{
  background-color: #FFBC00;
  color: #000;
  font-weight: bold;
  display: inline-block;
  padding: 2.8em 6.25em;
}

#about .contentarea .item li span{
  font-size: 2.187rem;
}

#about .contentarea > p{
  margin-top: 30px;
}
/******************* About ********************/

/******************* Cruise ********************/
#cruise{
  padding-top: 100px;
}

#cruise .img-title{
  background-image: url(../img/cruise.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.cruise-title-text{
  line-height: 3.75;
  margin-top: 100px;
}

#cruise .flexitem{
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 130px;
}

#cruise .photoarea p{
  margin-left: 0;
  margin-right: 3.5em;
}

.cruise-wrap{
  position: relative;
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 130px;
}

.cruise-content {
  padding: .9em 0 0 9em;
  margin: 0;
  position: relative;
}

.cruise-content::after {
  content: "";
  display: block;
  height: calc(100% - 70px);
  border-left: dotted 5px #ddd;
  position: absolute;
  top: 78px;
  left: 95px;
}

.cruise-label {
  padding: 10px 50px;
  background: #76D0E5;
  border-radius: 50px;
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 9px;
}

.cruise-title {
  font-weight: bold;
  text-align: left;
}

.cruise-body {
  margin-top: 1em;
  padding: 0 0 1.2em;
  font-size: 1rem;
  text-align: left;
}

.cruise-wrap > :last-of-type::after {
  display: none; 
}

.cruise-price span{
  font-size: 1.5rem;
  font-weight: bold;
}

.cruise-price p:first-child{
  margin-bottom: 36px;
}

.cruise-price p:last-child{
  margin-top: 24px;
}
/******************* Cruise ********************/

/******************* Access ********************/
#access{
  margin-bottom: 80px;
}

#access .img-title{
  background-image: url(../img/access.jpg);
  background-size: cover;
  object-fit: cover;
  padding:80px 0px 120px 0px;
}

#access .item{
  width: 50%;
}

.access-kasaoka{
  margin-bottom: 100px;
}

.item-title{
  font-weight: bold;
  margin-bottom: 25px;
}

#access .item-title::before{
  content: '＼';
  color: #fff;
  margin-right: 20px;
}

#access .item-title::after{
  content: '／';
  color: #fff;
  margin-left: 20px;
}

.access-kitagi p{
  margin: 40px 0px;
}

.access-kitagi>img{
  margin-bottom: 40px;
}

.access-kitagi-box{
  width: 400px;
  height: 900px;
  background-color: #fff;
  text-align: left;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 50px;
  color: #000;
  padding: 0.5em 2em;
  box-sizing: border-box;
}

.access-kitagi .item p{
  margin: 0;
}

.shipname{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

.caution p{
  background-color: #76D0E5;
  padding:1.3em 2.5em;
}

.caution span{
  font-weight: bold;
}

.fare{
  margin-top: 30px;
}

.sailingtime img{
  margin-right: 20px;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

table th{
  width: ;
  padding: 10px;
  border:1px #000 solid;
}

table td{
  padding: 10px;
  border:1px #000 solid;
}

.access-venue p{
  margin-bottom: 115px;
}
/******************* Access ********************/

/******************* Manners ********************/
#manners{
  margin-bottom: 80px;
}

#manners .img-title{
  background-image: url(../img/manners.jpg);
  background-size: cover;
  object-fit: cover;
  padding:80px 0px 120px 0px;
  margin-bottom: 20px;
}

#manners .contentarea > p{
  margin-bottom: 40px;
}

#manners .flexitem{
  flex-wrap: wrap;
  justify-content: space-between;
}

#manners li img{
  width: 60%;
  margin-bottom: 10px;
}

#manners li{
  width: 20%;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  padding:2em .3em;
  box-sizing: border-box;
  margin: 10px;
  line-height: 2;
}
/******************* Manners ********************/

/******************* Tourism ********************/
#tourism .img-title{
  background-image: url(../img/attractions.jpg);
  background-size: cover;
  object-fit: cover;
  padding:80px 0 120px 0;
}

#tourism .contentarea p{
  margin-top: 80px;
  margin-bottom: 40px;
}
/******************* Tourism ********************/

/******************* フッター ********************/
#footer{
  padding-top: 80px;
  font-size: 0.85rem;
  text-align: center;
}

#footer .flexitem{
  justify-content: space-between;
  align-items: center;
}

#footer .item{
  text-align: center;
  width: 33%;
  display: block;
}

#footer .item img{
  width: 200px;
}

#footer dl{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

#footer dt{
  width: 40%;
}

#footer dd{
  width: 60%;
}

#footer .item ul{
  display: inline-block;
}

#footer .item li{
  text-align: left;
  margin-bottom: 10px;
}

#footer .item ul a:hover{
  color: #76D0E5;
  transition: 0.4s;
}

#footer .sns-icon{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#footer .sns-icon li{
  margin: 0 15px;
}
/******************* フッター ********************/

/******************* SP ********************/
@media screen and (max-width:900px) {

  .inner{
    padding: 0 4%;
  }

  .section-title-en{
    font-size: 3rem;
  }

  .section-title-jp{
    font-size: 1rem;
  }

  .img-title{
    margin-bottom: 0;
  }
  /******************* ヘッダー********************/
  #header nav{
    display: none;
  }
  /******************* ヘッダー********************/
  
  /******************* ハンバーガーボタン メニュー閉じた時********************/
  .burger-btn{
    display: block;
    width: 40px;
    position: absolute;
    top:40px;
    right:50px;
    height:30px;
    cursor: pointer;
    z-index: 3;
  }

  button{
    appearance: none;
    border: none;
    background: none;
  }

  .bar{
    display: inline-block;
    height: 2px;
    width: 35px;
    background-color: white;
  }

  .bar-top{
    position: absolute;
    top: 0;
  }

  .bar-mid{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .bar-bottom{
    position: absolute;
    bottom: 0;
  }
  /******************* ハンバーガーボタン メニュー閉じた時********************/

  /******************* ハンバーガーボタン メニュー開いた時********************/
  .burger-btn.cross .bar-top{
    transform: rotate(45deg)translate(10px,10px);
    transition:transform .3s;
  }

  .burger-btn.cross .bar-mid{
    opacity: 0;
    transition: opacity .3s;
  }

  .burger-btn.cross .bar-bottom{
    transform: rotate(-45deg)translate(10px,-10px);
    transition: transform .3s;
  }
  /******************* ハンバーガーボタン メニュー開いた時********************/

  /******************* ハンバーガーメニュー開いた時のエリア********************/
  /* #header h1{
    display: none;
  } */

  .nav-wrapper{
    /* display: none; */
    /* width: 100vw;      
    height: 100vh;      
    position: fixed;      
    top: 0;      
    left: 0;       
    z-index: 2;   */
  }
  
  .header-nav{
    display: block;
    position: absolute;
    top: 0;
    left:0;
    /* position:fixed;
    top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, .8);
    z-index:3;
  }

  .header-nav ul{
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
  }

  #header ul li{
    padding: 0;
    margin-bottom: 40px;
  }

  #header ul a{
    text-align: left;
  }

  #header ul li span{
    display: inline-block;
  }

  body.noscroll{
    overflow: hidden;
  }
  /******************* ハンバーガーメニュー開いた時のエリア********************/

  /******************* About ********************/
  #about{
    padding-top: 0;
  }

  #about .flexitem{
    flex-direction: column;
  }

  .photoarea img{
    width: 80%;
  }

  .photoarea p{
    width: 80%;
  }
  /******************* About********************/

  /******************* cruise ********************/
  #cruise .flexitem{
    flex-direction: column;
  }

  .photoarea p{
    margin-right: 0;
    margin-left: 0;
  }
  /******************* cruise ********************/

  /******************* Access ********************/
  .access-kitagi > .flexitem{
    flex-direction: column;
  }

  #access .item{
    width: 100%;
  }
  /******************* Access ********************/

  /******************* manners ********************/
  #manners li{
    width: 20%;
    padding:10px 5px;
    margin: 5px;
  }
  /******************* manners ********************/
}
/******************* SP ********************/